<hr>
<a href="/" class="link">Home</a> - 
<!--<a href="/faq" class="link">Info</a> - -->
<a href="https://discord.gg/32KWZWUNQm" class="link">Support/Discord</a>
<script src="/web/instantpage.js" type="module"></script>